<div class="modal fade" id="encontreRivalModal" tabindex="-1" role="dialog"
	aria-labelledby="encontreRivalModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Resultados del duelo</h4>
			</div>
			<div class="modal-body">
				<form action="">
					<div class="row">
						<div class="col-xs-6 col-md-6 col-sm-6">
						
							<!-- stats resultados -->
							<h1 class="header">{{datos.resultado[2]}} VS {{datos.resultado[3]}}</h1>
							<div class="row">
								<div class="col-xs-6 col-md-6 col-sm-6 table-responsive">
									<table class="table table-striped">
										<thead>
											<img class="img-responsive" ng-src={{datos.resultado[8]}} id="itemDetail">
										</thead>
										<tbody>
											<tr ng-repeat=" (key,value) in datos.resultado[0]">
												<td>{{key}}</td>
												<td>{{value}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-xs-6 col-md-6 col-sm-6 table-responsive">
									<table class="table table-striped">
										<thead>
											<img class="img-responsive" ng-src={{datos.resultado[9]}} id="itemDetail">
										</thead>
										<tbody>
											<tr	ng-repeat=" (key,value) in datos.resultado[1]">
												<td>{{key}}</td>
												<td>{{value}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						
						<!-- valores resultado -->
						<div class="col-xs-6 col-md-6 col-sm-6 resultado-duelo">
						<!-- ng-show="prop=='Ganaste' -->
							<h4>{{datos.resultado[5]}}</h4>
							<br>
							<h4>{{datos.resultado[6]}} A {{datos.resultado[7]}}</h4>
						</div>
						
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">{{datos.resultado[4]}}</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="mrXModal" tabindex="-1" role="dialog"
	aria-labelledby="mrXModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h1 class="modal-title header" id="myModalLabel">No hay rival para vos</h1>
			</div>
			<div class="modal-body">
				<form action="">
					<div class="row">
						<p>No hay quien se anime por tu ranking!!</p>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-toggle="modal" ng-click="datos.buscarAMrX()" data-dismiss="modal" >Retar a MR.X</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Descansar</button> 
			</div>
		</div>
	</div>
</div>
